<div class="footer">
	<div class="footer-menu">
    <ul>
      <div class="footer-text-wrap">
        <li><a href="#about">About</a></li>
        <li><a href="https://weareswoop.blogspot.com/">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="tel:+443300563800">+44 (0) 330 056 3800</a></li>
      </div>
    </ul>
  	<div class="social-media">
      <a href="https://twitter.com/weareswoop" target="_blank">
        <img src="assets/assets/twitter-logo.svg" alt="twitter-logo">
      </a>
        <a href="https://www.linkedin.com/company/swoopapplications" target="_blank">
        <img src="assets/assets/linkedin-logo.svg" alt="linkedin-logo">
      </a>
    </div>
    <ul>
      <li><a id="button" href="#contact" class="button">Book a demo</a></li>
    </ul>
    <p><a id="privacy" href="website-privacy-policy.pdf" target="_blank">Privacy Policy</a>2018 All Rights Reserved</p>
  </div>
