---
layout: default
title: Colateral
meta_description: Swoop is a UK-based software company, developing unique leading-edge technical solutions to address a wide variety of business issues. We work with clients internationally, and are focussed on developing solutions that deliver delay-free workflow systems and efficient marketing campaigns.
---

{% include intros/product-intro.html %}
{% include product/what-is-colateral.html %}
{% include product/product-benefits.html %}
{% include product/product-breakdown.html %}
{% include contact/contact-form.html %}

