/* Product-intro section starts*/

/* Screens over 320px wide*/

@media only screen and (min-width:320px) {
    .product-container {
        background: #FFF;
    }

    .product-intro-text {
        padding-top: 120px;
    }

    .product-intro-text-alt {
        color: #36B8C2;
        font-family: "Gotham-Bold";
    }

    .isometric-container {
        text-align: center;
        position: relative;
        top: 4px;
    }

    .isometric-container img {
        width: 80%;
    }

    .subscribe-button {
        text-align: center;
        padding-top: 60px;
        z-index: 1;
        position: relative;
    }

    .subscribe-button .button {
        text-decoration: none;
        padding: 15px 50px;
        background-color: #EA5B2F;
        color: #FFF;
        border-radius: 32px;
        cursor: pointer;
        font-family: "Gotham-Bold";
    }
}


/* Screens over 768px wide*/

@media only screen and (min-width:768px) {
    .isometric-container img {
        width: 60%;
    }
}


/* Screens over 1024px wide*/

@media only screen and (min-width:1024px) {
    .isometric-container img {
        width: 50%;
    }
}
