/* Product-video section starts*/


/* Screens over 320px wide*/

@media only screen and (min-width:320px) {
  .auto-resizable-iframe {
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 40px;
  }

  .auto-resizable-iframe iframe {
    width: 100%;
    height: 100%;
  }
}

/* Screens over 768pxwide*/

@media only screen and (min-width:768px) {
  .auto-resizable-iframe {
    height: 350px;
    width: 80%;
  }
}

/* Screens over 1024pxwide*/

@media only screen and (min-width:1024px) {
  .auto-resizable-iframe {
    height: 500px;
    width: 50%;
  }
}

