<div class="container">
  <header>
    <div class="navigation-bar">

      <div class="nav-colateral-logo">
        <a href="/"><img src="assets/assets/colateral-logo-header.svg" alt="colateral-logo"></a>
      </div>
      <div class="nav-menu-1024">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a id="phone" href="tel:+443300563800">+44 (0) 330 056 3800</a></li>
          <li><a id="button" href="#contact" class="button">Book a demo</a></li>
        </ul>
      </div>

      <div class="nav-menu">
        <button class="book-a-demo">
          <a id="button" href="#contact" class="button">Book a demo</a>
        </button>
        <span style="font-size:16px;cursor:pointer" onclick="openNav()">Menu &#9776;</span>
      </div>
    </div>
  </header>


<div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
      <ul>
        <li><a href="#about" onclick="closeNav()">About</a></li>
        <li><a href="#contact" onclick="closeNav()">Contact</a></li>
        <li><a id="phone" href="tel:+443300563800" onclick="closeNav()">+44 (0) 330 056 3800</a></li>
        <li><a id="button" href="#contact" class="button" onclick="closeNav()">Book a demo</a></li>
      </ul>
    </div>
</div>
