<div class="product-container">
  <div class="product-intro-grid-1"></div>
  <div class="product-intro-grid-2">
    <div class="product-intro-text">
    <h1> Bringing clarity to in-store
    <br> <div class="product-intro-text-alt">marketing campaigns.</div>
  </h1>
</div>
<div class="subscribe-button">
    <a id="button" href="book-a-demo" class="button">subscribe for updates</a>
  </div>
  <div class="isometric-container">
    <img src="assets/assets/product/shop-window-cut.svg" alt="scroll-icon">
</div>
  <div class="product-intro-grid-3"></div>
</div>
</div>

