<div class="benefits-container">
  <div class="benefits-item-1">
  </div>
  <div class="benefits-item-2">
    <h1>Colateral is the only end to end <br> platform where you can…</h1>
    <div class="benefits-section">
      <div class="benefits-tick-icon">
        <img src="assets/assets/product/benefit-tick-icon.svg" alt="benefit-tick">
      </div>
      <div class="benefits-p">
        <p>Plan, execute and analyse your in-store campaigns seamlessly</p>
      </div>
    </div>
        <div class="benefits-section">
      <div class="benefits-tick-icon">
        <img src="assets/assets/product/benefit-tick-icon.svg" alt="benefit-tick">
      </div>
      <div class="benefits-p">
        <p>Monitor compliance and make the most of your marketing budget</p>
      </div>
    </div>
        <div class="benefits-section">
      <div class="benefits-tick-icon">
        <img src="assets/assets/product/benefit-tick-icon.svg" alt="benefit-tick">
      </div>
      <div class="benefits-p">
        <p>Improve staff efficiency and reduce costs</p>
      </div>
    </div>
    </div>
  <div class="benefits-item-3">
  </div>
</div>
</div>


