<div class="benefits-container">
  <div class="benefits-content">
    <h1>Colateral is <span>the only end to end platform</span> where you can…</h1>
    <div class="benefits-section">
      <div class="benefits-tick-icon">
        <img src="assets/assets/product/benefit-tick-icon.svg" alt="benefit-tick">
      </div>
      <div class="benefits-p">
        <p>Plan, execute and analyse your in-store campaigns seamlessly</p>
      </div>
    </div>
    <div class="benefits-section">
      <div class="benefits-tick-icon">
        <img src="assets/assets/product/benefit-tick-icon.svg" alt="benefit-tick">
      </div>
      <div class="benefits-p">
        <p>Manage POS production, reduce waste and guarantee in-store compliance</p>
      </div>
    </div>
    <div class="benefits-section">
      <div class="benefits-tick-icon">
        <img src="assets/assets/product/benefit-tick-icon.svg" alt="benefit-tick">
      </div>
      <div class="benefits-p">
        <p>Improve staff efficiency, cut costs and optimise your marketing budget</p>
      </div>
    </div>
  </div>
</div>


