<div class="colateral-container">
  <div class="what-is-colateral-grid-1"></div>
  <div class="what-is-colateral-grid-2">
    <div class="what-is-colateral-intro-text">
    <h1>What is Colateral?</h1>
    <p>Co.lateral is a marketing automation platform for large retailers and brands who miss in-store sales opportunities due to a lack of control and insight and helps them to get a better ROI from their physical stores.</p>
</div>
<div class="video-wrap">
    <div class="auto-resizable-iframe">
    <iframe src="https://www.youtube.com/embed/de2YOneMoQc?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<div class="arrow-text"><p>SEE WHAT OUR SYSTEM CAN DO</p>
</div>
<div class="arrow-icon">
  	<img src="assets/assets/product/video-arrow.svg" alt="arrow-icon">
</div>
    
  <div class="what-is-colateral-grid-3"></div>
</div>
</div>



